:root {
    --background-color: #141414;
    --text-color: #ffffff;
    --primary-color: #dbea0e;
    --button-text-color: #ffffff;
    --card-background-color: #1c1c1c;
    --footer-background-color: #000000;
}