.mylist-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.mylist-empty-text {
    text-align: center;
    margin: 5em auto;
    font-size: 2em;
}

.mylist-items {
    margin-bottom: 20px;
}

.mylist-items h2{
    text-align: center;
    font-size: 1.8em;
}

.mylist-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: black;
}

.mylist-item-poster {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.mylist-item-details {
    flex: 1;
}

.mylist-item-details h4 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}

.mylist-item-details p {
    margin: 5px 0;
}

.mylist-item-details .btn {
    border: none;
    border-radius: 0;
    background-color: #ee7c7c;
    transition-duration: 0.4s;
    color: #000;
}

.mylist-item-details .btn:hover {
    background-color: #ff0101;
    color: #ffffff;
    font-weight: bold;
}

.item-details {
    display: grid;
    grid-template-columns: 50% 50%;
}

.align-left p {
    text-align: right;
    padding-right: 0.4em;
}

.mylist-buttons-grid {
    display: grid;
    grid-template-columns: 100%;
    margin: 1em auto;
    width: 80%;
}


/* Responsive Design */
@media (max-width: 1024px) {
    .mylist-container {
        padding: 15px;
        max-width: 90%;
    }

    .mylist-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .mylist-item-poster {
        width: 80px;
        height: 120px;
        margin-bottom: 10px;
    }

    .mylist-item-details {
        width: 100%;
    }

    .mylist-item-details h4 {
        font-size: 1.3rem;
    }

    .mylist-item-details p {
        font-size: 1rem;
    }

    .item-details {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .mylist-buttons-grid {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .mylist-title{
        margin-top: 15%;
        font-size: 2em;
      }


    .mylist-container {
        padding: 10px;
    }

    .mylist-item {
        padding: 10px;
    }

    .mylist-item-details{
        width: 80%;
        margin: auto;
    }

    .mylist-item-poster {
        width: 80%;
        height: auto;
        margin: 10px auto;
    }

    .mylist-cast{
        display: none;
    }

    .mylist-item-details h4 {
        font-size: 1.2rem;
    }

    .mylist-item-details p {
        font-size: 1.1rem;
        text-align: left;
    }

    .item-details {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .mylist-buttons-grid {
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
    }

    .mylist-item-details .btn {
        font-size: 1.2rem;
        border-radius: 10px;
        padding: 0.5rem;
    }
}