.watchlist-container {
    padding: 20px;
    max-width: 80%;
    margin: 4% 10% 0 10%;
}

.watch-list-empty-text {
    text-align: center;
    margin: 5em auto;
    font-size: 1.5em;
}

.watchlist-items {
    margin-bottom: 20px;
}

.watchlist-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: black;
}

.watchlist-item-poster {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.watchlist-item-details {
    flex: 1;
}

.watchlist-item-details h4 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}

.watchlist-item-details p {
    margin: 5px 0;
}

.watchlist-btn {
    border: none;
    border-radius: 0;
    background-color: #4caf50;
    transition-duration: 0.4s;
    color: white;
    padding: 1em 0;
    border-radius: 10px;
}

.watchlist-btn:hover {
    background-color: #cee179;
    color: #000;
    font-weight: bold;
}

.watchlist-remove-btn{
    border: none;
    border-radius: 0;
    background-color: #efcbcb;
    transition-duration: 0.4s;
    color: #000;
    border-radius: 10px;
}

.watchlist-remove-btn:hover{
    background-color: #e17979;
    font-weight: bold;
}

.watchlist-item-details .item-details {
    display: grid;
    grid-template-columns: 50% 50%;
}

.watchlist-align-left p {
    text-align: right;
    padding-right: 0.4em;
}

.buttons-grid{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    margin: 1em auto;
    width: 80%;
}

 /* Responsive Design */
@media (max-width: 1024px) {
    .watchlist-container {
      padding: 15px;
      max-width: 90%;
    }
  
    .watchlist-item {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
    }
  
    .watchlist-item-poster {
      width: 80px;
      height: 120px;
      margin-bottom: 10px;
    }
  
    .watchlist-item-details {
      width: 100%;
    }
  
    .watchlist-item-details h4 {
      font-size: 1.3rem;
    }
  
    .watchlist-item-details p {
      font-size: 1rem;
    }
  
    .watchlist-item-details .item-details {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    .buttons-grid {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {

    .watchlist-container {
      margin-top: 10%;
      padding: 10px;
    }

    .watchlist-container h2{
      text-align: center;
    }
  
    .watchlist-item {
      padding: 10px;
    }
  
    .watchlist-item-poster {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  
    .watchlist-item-details h4 {
      font-size: 1.5rem;
    }
  
    .watchlist-item-details p {
        text-align: left;
        font-size: 1.1rem;
    }

    .watchlist-cast{
        display: none;
    }
  
    .watchlist-item-details .item-details {
      grid-template-columns: 1fr;
      gap: 5px;
    }
  
    .buttons-grid {
      grid-template-columns: 1fr;
      gap: 10px;
      width: 100%;
    }
  
    .watchlist-remove-btn,
    .watchlist-btn {
      font-size: 1.2rem;
      border-radius: 10px;
      padding: 0.5rem;
    }
  }